body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: auto;
  background-color: darkgrey;
  color: white;
}

.calculator {
  border: 2px solid black;
  padding: 50px;
  border-radius: 10px;
}

.btn {
  height: 75px;
  width: 75px;
  margin: 15px;
  font-size: 30px;
  color: white;
}

.number {
  flex: 1;
  border: 2px solid black;
  border-radius: 10px;
}

.number:hover {
  background-color: black;
}

.operator {
  border: 2px solid black;
  border-radius: 10px;
}

.operator:hover {
  background-color: black;
}

.equal {
  border: 2px solid black;
  border-radius: 10px;
}

.equal:hover {
  background-color: black;
}

.decimal {
  border: 2px solid black;
  border-radius: 10px;
}

.decimal:hover {
  background-color: black;
}

#clear {
  border: 2px solid black;
  border-radius: 10px;
}

#clear:hover {
  background-color: black;
}

#percent {
  border: 2px solid black;
  border-radius: 10px;
}

#percent:hover {
  background-color: black;
}

#negative {
  border: 2px solid black;
  border-radius: 10px;
}

#negative:hover {
  background-color: black;
}

.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.second-row {
  display: flex;
  justify-content: center;
  width: auto;
}

.row-2 {
  flex: 1;
}

#screen {
  width: 400px;
  border: 2px solid black;
  border-radius: 10px;
  height: 75px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.previous {
  font-size: 20px;
  margin-right: 5px;
}

.current {
  font-size: 30px;
  margin-right: 5px;
}

.other-rows {
  display: flex;
}

.number-0 {
  flex: 1;
}

.adjust-font {
  font-size: 30px;
}
